<div class="row">
  <div class="col s12">
    <h1>About EmoTube</h1>
  </div>
  <div class="col s12">
    <p>EmoTube is an application that merges Facial Recognition technology with YouTube. The goal is to allow for a
      playlist that is generated using the user's emotions at a given moment in time.
      EmoTube uses YouTube's API (application programming interface) as well as Face-api.js's machine learning
      algorithms to understand the user's micro-expressions better and adapt what music selection predicated
      on the results. EmoTube was created and developed by Stephen Coley and Iuliia Rozhnova. YouTube's Brand Resources
      provided some but not all stylings. This application was created for demonstrative purposes and is not for sales
      use.</p>
  </div>
</div>