<div class="row">
  <div class="col s12">
    <a class="link" href="/">Return</a>
  </div>
  <div class="col s12">
    <h1>About EmoTube</h1>
  </div>
  <div class="col s12">
    <p>EmoTube is an application that merges Facial Recognition technology with YouTube. The goal is to allow for a
      playlist that is generated using the user's emotions at a given moment in time.</p>
    <p>EmoTube uses YouTube's API (application programming interface) as well as Face-api.js's machine learning
      algorithms to understand the user's micro-expressions better and adapt the music selection provided predicated
      on the results.</p>
    <p>EmoTube was created and developed by <em>Stephen Coley</em> and <em>Iuliia Rozhnova</em>. YouTube's Brand
      Resources
      provided some but not all stylings. This application was created for demonstrative purposes and is not for sales
      use.</p>
  </div>
  <div class="col s12">
    <ul class="center">
      <li><a class="link" href="https://www.youtube.com/about/brand-resources/#logos-icons-colors"
          target="_blank">YouTube Brand
          Resources</a></li>
      <li><a class="link" href="https://github.com/justadudewhohacks/face-api.js/" target="_blank">Face-api.js</a></li>
      <li><a class="link" href="https://www.youtube.com/" target="_blank">YouTube</a></li>
    </ul>
  </div>
</div>