<div class="row">
  <div class="center col s12">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}!</p>
    {{#if owner}}
    <a class="btn waves-effect waves-light btn-large btn-red" href="/photo">Take photo</a>
    {{/if}}
  </div>
</div>