<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/lib/face-api.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
</head>

<body>

  <nav class = "nav">
    <a href="/">Home</a>
    {{#if user}}
    <a href="/photo">Take photo</a>
    <a href="/photo/storage/{{user._id}}">My storage</a>
    <a href="/auth/logout">Logout</a>
    {{else}}  
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/if}}
  </nav>

  {{{body}}}
  <script src="/javascripts/script.js"></script>
</body>

</html>