<div class="controller">
  <div>
    <video id="video" autoplay aria-hidden="false"></video>
    <button id='getUserMediaButton'>Start stream</button>
    <button id='takePhotoButton' disabled>Take Photo</button>
  </div>
  <div>
    <canvas id='takePhotoCanvas' aria-hidden="true"></canvas>
    <p id="emotion"></p>
  </div>
</div>
<script src="/javascripts/takePhoto.js"></script>