body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.controller {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.controller > div {
  width: 33%;
  text-align: center;
  line-height: 24px;
}

@media (max-width: 814px) {
  .controller > div {
    width: 100%;
    margin-bottom: 24px;
  }
}

video,
canvas {
  border: 2px solid rgba(255, 255, 255, 1);
  background: #263238;
  height: 198px;
  width: 100%;
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;

  & > div {
    width: 50%;
  }

  div a {
    padding: 1rem 2rem;
    background: red;
    color: white;
    text-decoration: none;
  }
}
