body {
  color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(27, 26, 26, 0.863);
}

body {
  padding-left: 300px;

  @media only screen and (max-width: 992px) {
    padding-left: 0;
  }
}

video {
  background: #282828;
}

video,
canvas {
  width: 100%;
  min-height: 201px;

  @media only screen and (min-width: 600px) {
    min-height: 440px;
  }

  @media only screen and (min-width: 993px) {
    width: 600px;
    //min-height: 565px;
  }
}

[aria-hidden="true"] {
  display: none !important;
}

[aria-hidden="false"] {
  display: block !important;
}

button[aria-hidden="false"] {
  display: inline-block !important;
}

.test {
  display: flex;
  justify-content: center;
  text-align: center;
}
